---
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/main.css">

    <title>The Vivarium Collective</title>
    <link rel="icon" type="image/svg" href="favicon.svg"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
  </head>
  <body>
    <main class="container">
      <h1>The Vivarium Collective</h1>

      <div class="alert alert-danger" role="alert">
        <p>
          <b>WARNING:</b> This website is under construction.
        </p>
      </div>

      <p>The Vivarium Collective ...</p>

      <h2>Selected Projects</h2>

      <div class="alert alert-primary" role="alert">
        <p>
          These projects may not be affiliated with the team that
          develops Vivarium Core, and the descriptions below have not
          been verified by the Vivarium Core Authors. A project's
          appearance here does not mean it has been endorsed by the
          Vivarium Core team, nor has the team verified the accuracy of
          the project description.
        </p>
      </div>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for card in site.data.cards %}
          <div class="col">
            <div class="card">
              {% if card.header %}
                <h5 class="card-header">{{ card.header }}</h5>
              {% endif %}
              <img src="assets/card-imgs/{{ card.image }}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">{{ card.name }}</h5>
                <p class="card-text">
                  {{ card.text }}
                </p>
                {% for button in card.buttons %}
                  <a
                    href="{{ button.link }}"
                    class="btn btn-primary"
                    >{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          &copy; Copyright 2021 The Vivarium Authors.
        </span>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
