---
---

/* Bootstrap Customizations
-------------------------------------------------- */

$primary: #2b3d50;
$secondary: #95a5a6;
$success: #18bc9d;
$info: #3497db;
$warning: #f39c13;
$danger: #e74c3c;
$light: #ecf0f1;
$dark: #7b8a8b;

@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
