---
---

/* Bootstrap Customizations
-------------------------------------------------- */

$primary: #97a5a6;
$dark: #2f3d50;
// $primary: #2f3d50;
// $secondary: #97a5a6;
// $success: #43bd9b;
// $info: #5095db;
// $warning: #ea9e1d;
// $danger: #dc4a42;
// $light: #edf0f1;
// $dark: #7d8a8b;

@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
